<!-- This is the modal with the default close button -->
<div id="modal-ipaddress-notification" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h4 class="uk-heading-divider uk-text-danger uk-margin uk-margin-remove-top uk-margin-small-bottom">Incorrect IPv4 address or hostname</h4>
        <p class="">Please enter a correct IPv4 network address (ex. 8.8.8.8) or a valid DNS hostname (ex. www.google.be)</p>
    </div>
</div>