{% extends 'layout.html' %}


<!-- page title -->
{% block TITLE_BLOCK %}
    2NMS - network tools - PORT CHECK
{% endblock %}


<!-- top section -->
{% block BLOCK_TOPSECTION %}
	<div class="uk-section-secondary uk-preserve-color">
		<!-- navigation bar -->
		{% set active_page = "portcheck" %}
		{% include 'navbar.html' %}

		<!-- command bar -->
		{% set command = "portcheck" %}
		{% set command_title = "TCP Port check" %}			
		{% include 'top_command.html' %}
	</div>
{% endblock %}


<!-- ping command javascript -->
{% block BLOCK_COMMAND_JAVASCRIPT %}
	<script>

		function portcheck() {
			set_cookie();
	        var ip = $("#ipaddress").val();
	        var port = $("#port").val();

	        if (!validate_ipv4(ip)) {
	        	var modal = UIkit.modal("#modal-ipaddress-notification");
			  	$("#ipaddress").removeClass('uk-form-success').addClass('uk-form-danger');
			  	modal.show();
	        	//alert("Enter a valid IPv4 address");
	        	return (false)
	        }

	        if (!validate_port(port)) {
	        	var modal = UIkit.modal("#modal-port-notification");
			  	$("#port").removeClass('uk-form-success').addClass('uk-form-danger');
			  	modal.show();
	        	//alert("Enter a valid IPv4 address");
	        	return (false)
	        }

			inprogress();
	        $("#output").empty();
		  	$("#ipaddress").removeClass('uk-form-danger').addClass('uk-form-success');
		  	$("#port").removeClass('uk-form-danger').addClass('uk-form-success');
	        $("#output-title").text("Port check result for: "+ip+":"+port);
	        $("#command-result-section").show();

			var url = "{{ url_for('public.index') }}"+"portcheck/"+ip+"/"+port;
			var source = new EventSource(url);

			validateEventSourceSupport(source);

			source.onmessage = function(event){
				eofstream = /.*END STREAM.*/;
				if ((event.data).match(eofstream)) {
					console.log(event.data);
					source.close();
					inprogress();
				}
				else {
					$("#output").append(event.data+"<br/>");
				}
			};

			source.onerror = function(event) {
				//alert("An unknown error occurred, please try again in a few minutes");
				console.log("An unknown EventSource error occurred, please try again in a few minutes");
				source.close();
			};


		}

	</script>
{% endblock %}
