<!-- command bar section -->
<div class="uk-section uk-section-secondary uk-section-small">
    <div class="uk-container uk-container-medium">
		<div class="uk-grid-match uk-child-width-1-1 uk-grid" uk-grid="" style="">

			<div>
		    	<form action="javascript:{{ command }}()">
				    <fieldset class="uk-fieldset uk-text-center medium-size uk-align-center">

				        <legend class="uk-legend">{{ command_title }}</legend>

				        <div class="uk-margin">
				            <input id="ipaddress" class="uk-input uk-text-center uk-form-width-medium" type="text" placeholder="xxx.xxx.xxx.xxx">
				            {% if command == "portcheck" %}
				            <input id="port" class="uk-input uk-text-center uk-form-width-xsmall" type="text" placeholder="1..65335">
				            {% endif %}
				            <button class="uk-button uk-button-default">start</button>
				        </div>
						
						<p>your ip address = {{ client_info.ip }}</p>

				    </fieldset>
				</form>
			</div>

		</div>
    </div>
</div>