<!-- footer section -->
<div class="uk-section-default uk-section uk-section-medium">

    <div class="uk-container">

        <div class="uk-grid-large uk-grid-margin-large uk-grid" uk-grid="">
            <div class="uk-width-expand@m uk-width-1-2@s uk-first-column">
                <div class="uk-margin uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    <a href="http://www.2nms.com" class="el-link uk-link-muted">
                        <h3 class="uk-h5 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                            <span style="color:red">2</span>NMS
                        </h3>
                    </a>    
                </div>
    
                <div class="uk-margin uk-width-xlarge uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    Network and cloud solutions.
                </div>
            </div>

            <div class="uk-width-expand@m uk-width-1-2@s">
                <h3 class="uk-h5 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                Tools</h3>
                
                <ul class="uk-list uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    <li class="el-item">    
                        <div class="el-content">
                            <a href="{{ url_for('public.ping') }}" class="el-link uk-link-muted">Ping</a>    
                        </div>
                    </li>

                    <li class="el-item">    
                        <div class="el-content">
                            <a href="{{ url_for('public.traceroute') }}" class="el-link uk-link-muted">Traceroute</a>    
                        </div>
                    </li>

                    <li class="el-item">   
                        <div class="el-content">
                            <a href="{{ url_for('public.portcheck') }}" class="el-link uk-link-muted">Port check</a>    
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-width-expand@m uk-width-1-2@s">
                <h3 class="uk-h5 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                Company    </h3>

                <ul class="uk-list uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    <li class="el-item">    
                        <div class="el-content">
                            <a href="#TODO" class="el-link uk-link-muted">About us</a>    
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-width-expand@m uk-width-1-2@s">
                <h3 class="uk-h5 uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                Contact Us    </h3>

                <div class="uk-margin uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                mwallraf@pingthis.net
                </div>

                <div class="uk-margin uk-scrollspy-inview uk-animation-fade" uk-scrollspy-class="" style="">
                    <div class="uk-child-width-auto uk-grid-medium uk-grid" uk-grid="">
                        <div class="uk-first-column">
                            <a href="https://github.com/mwallraf" uk-icon="icon: github; ratio: 0.8" class="el-link uk-link-muted uk-icon-button"></a>
                        </div>


                        <div>
                            <a href="https://www.linkedin.com/in/maarten-wallraf-b829931" uk-icon="icon: linkedin; ratio: 0.8" class="el-link uk-link-muted uk-icon-button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

