<html>
	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Free online network tools like ping, traceroute, speedtest, .. provided by 2NMS">
	    <meta name="keywords" content="ping, traceroute, tcp port check, nmap, uuid, network tools">

	    <title>
		    {% block TITLE_BLOCK %}
			    2NMS - network tools
		    {% endblock %}
	    </title>

	    <link rel="shortcut icon" href="/favicon.ico">	    

		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
		<!-- cookie consent script -->
		{% include 'scripts/cookie_consent.html' %}

		<!-- site CSS -->
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	</head>


	<body>

		<!-- top section -->
		{% block BLOCK_TOPSECTION %}
		<div class="uk-section-secondary uk-preserve-color">

			<!-- navigation bar -->
			{% set active_page = "ping" %}
			{% include 'navbar.html' %}

			<!-- command bar -->
			{% set command = "ping" %}
			{% set command_title = "Ping (IPv4)" %}			
			{% include 'top_command.html' %}
		</div>
		{% endblock %}

		<!-- command result section -->
		{% block BLOCK_COMMAND_RESULT_SECTION %}
			{% include 'command_result.html' %}
		{% endblock %}

		<!-- tools overview section -->
		{% include 'tools.html' %}

		<!-- footer section -->
		{% include 'footer.html' %}
		{% include 'copyright.html' %}

		<!-- modals -->
		{% include 'modal/modal_ipaddress_notification.html' %}
		{% include 'modal/modal_port_notification.html' %}


		<!-- jQuery is required -->
		<script src="{{ url_for('static', filename='assets/jquery-v3.2.1/jquery-3.2.1.min.js') }}"></script>

		<!-- UIkit JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

		<!-- local javascript -->
		<script src="{{ url_for('static', filename='js/validate_ipv4.js') }}"></script>
		<script src="{{ url_for('static', filename='js/validate_port.js') }}"></script>
		<script src="{{ url_for('static', filename='js/cookie_security.js') }}"></script>
		<script src="{{ url_for('static', filename='js/validateSSE.js') }}"></script>
		<script src="{{ url_for('static', filename='js/inprogress.js') }}"></script>
		<!-- only required to support EventSource with IE + Edge -->
		<script src="{{ url_for('static', filename='js/eventsource_ie.js') }}"></script>

		<script>
		$( document ).ready(function() {
			// focus on input when clicking on "your ip" label
			$(".yourip").click(function() {
				$("#ipaddress").val($("#id-yourip").html()).focus();
			});
            // focus on the output when clicking on the action button
			$("#btn-start-command").click(function() {
				$("#output").focus();
			});
		});
		</script>

		{% block BLOCK_COMMAND_JAVASCRIPT %}
		{% endblock %}

		{# INSERT GOOGLE ANALYTICS CODE IF THE TRACKING ID IS CONFIGURED #}
		{% if config.GOOGLE_ANALYTICS_TRACKID|length > 0 %}
			{% include 'scripts/google_analytics.html' %}
		{% endif %}
	</body>
</html>
