{% extends 'top_layout.html' %}


{% block BLOCK_TOP_TITLE %}
{% endblock %}

{% block BLOCK_TOP_INPUT %}

    <div>
    	<div class="uk-width-auto@s uk-flex uk-flex-center"> 
	    	<input id="ipaddress" class="uk-input uk-text-center uk-width-large@s uk-form-width-auto" type="text" placeholder="ip address or hostname">
	    </div> 

	    {% if command == "portcheck" %}
	    	<div class="uk-width-auto@s uk-flex uk-flex-center uk-margin-small-top">
		        <input id="port" class="uk-input uk-text-center uk-width-large@s uk-form-width-auto" type="text" placeholder="TCP port (1..65335)">
		    </div>
	    {% endif %}
	</div>
{% endblock %}


